<div class="container">
    <h1 class="container__title">Our Whiskey's Selection</h1>
    <div class="cards_container">
        {{#each products}}
            <div class="card">
                <div class="image_container">
                    <img src="/images/{{this.thumbnail.[0]}}" alt={{this.title}}>

                </div>
                <div class="details_container">
                    <div>
                        <p class="card_title">{{this.title}}</p>
                        <p class="card_description">{{this.description}}</p>
                        <p class="card_price">${{this.price}}</p>
                    </div>
                    <div class="btn_container">
                        <button class="btn-agregar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
